# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db